{% extends 'base.jinja2' %}
{% set page_title = 'Audit Log' %}
{% block content %}
<style>
    .nowrap {
        white-space: nowrap;
    }
</style>
<div class="pull-right btn-group">
    <a href="{{ url_for('trex.audit_log.index', page=pager.page) }}" class="btn btn-default{% if not utc %} active{% endif %}">Local Times</a>
    <a href="{{ url_for('trex.audit_log.utc', page=pager.page) }}" class="btn btn-default{% if utc %} active{% endif %}">UTC Times</a>
</div>
<h2>Audit Log</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Date/Time</th>
            <th>Actor</th>
            <th>Description</th>
            <th>Tags</th>
            <th>Related documents</th>
        </tr>
    </thead>
    <tbody>
    {% for entry in entries %}
        <tr>
            <td class="nowrap">
            {% if utc %}
            {{ entry.created | quantum('datetime', timezone='UTC') }}
            {% else %}
            {{ entry.created | quantum('datetime') }}
            {% endif %}
            </td>
            <td class="nowrap">
                {% if entry.user %}
                {{ entry.user.display_name }}
                {% else %}
                <i>System</i>
                {% endif %}
            </td>
            <td>{{ entry.description }}
            {% if entry.moreinfo %}
            (<a href="#" class="moreinfo" data-content="{{ entry.moreinfo }}">more info</a>)
            {% endif %}</td>
            <td>
                {% for tag in entry.tags %}
                <span class="label label-default">{{ tag }}</span>
                {% endfor %}
            </td>
            <td>
                <ul>
                {% for doc in entry.linkable_documents() %}
                    {% if doc.url %}
                    <li><a href="{{ doc.url }}">{{ doc.label }}</a> <span class="muted">({{ doc.type }})</span></li>
                    {% else %}
                    <li>{{ doc.label }} <span class="muted">({{ doc.type }})</span></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="text-center">
    {{ trex.pager(pager) }}
</div>
{% endblock %}
{% block script %}
<script>
$('.moreinfo').popover();
$('.moreinfo').each(function() {
    var $link = $(this);
    $link
        .popover({
            container: 'body'
        })
        .on('click', function(e) {
            e.stopPropagation();
        })
        .on('show', function() {
            $('.moreinfo').not(this).popover('hide');
        })
    ;
});
$(document).on('click', function() {
    $('.moreinfo').popover('hide');
});
</script>
{% endblock %}
