{% extends 'base.jinja2' %}
{% set page_title = 'Email Templates' %}
{% block content %}
<h1>Email templates</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Template Name</th>
            <th>Subject</th>
            <th class="cell-controls"></th>
        </tr>
    </thead>
    <tbody>
{% for template, email in templates.items() %}
        <tr>
            <td>{{ template }}</td>
            <td>
                {% if email.subject %}
                <p>{{ email.subject }}</p>
                {% endif %}
                <div class="text-muted">{{ email.description }}</div>
                <div class="text-danger">{{ email.error }}</div>
            </td>
            <td class="cell-controls">
                <a class="btn btn-default" href="{{ url_for('trex.developer.email_template', template=template) }}">
                    view
                    <span class="glyphicon glyphicon-arrow-right" />
                </a>
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}
