{% import 'trex.jinja2' as trex with context %}
{% extends 'base.jinja2' %}
{% set page_title = 'User management' %}
{% block content %}
<h2>User management</h2>
{{ trex.form_render(form, 'Save user') }}
{% endblock %}
