{% import 'trex.jinja2' as trex with context %}
{% extends 'base.jinja2' %}
{% block content %}
<a class="btn pull-right" href="{{ add_url }}"><i class="icon-plus"></i> add user</a>
<h2>User management</h2>
<table class="table">
    <thead>
        <tr>
            <th>Display Name</th>
            <th>Email</th>
            <th>Role</th>
            {#<th>Created</th>#}
            <th>Last Login</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users.order_by('created') %}
        <tr>
            <td>{{ user.display_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            {% if user.last_login %}
            <td class="trex-moment" data-moment="{{ user.last_login.as_utc() | moment_stamp }}"></td>
            {% else %}
            <td>never</td>
            {% endif %}
            <td>
                <a class="btn btn-small" href="{{ user.url_for_edit_user() }}"><i class="icon-cog"></i> edit</a>
                <button
                    class="btn btn-small btn-danger trex-post-confirm"
                    data-href="{{ url_for('.deactivate', user_token=user.token) }}"
                    data-title="Confirm deactivate user"
                    data-body="Are you sure you want to deactivate {{ user.email }}"
                    data-confirm-label="Deactivate user"
                    data-confirm-label-class="btn-danger"
                >
                    <i class="icon-white icon-remove"></i> deactivate
                </button>
                <button
                    class="btn btn-small btn-inverse trex-post-confirm"
                    data-href="{{ url_for('.reset_password', user_token=user.token) }}"
                    data-title="Confirm password reset"
                    data-body="This will generate a new password for {{ user.email }} and email it to them"
                    data-confirm-label="Reset password"
                    data-confirm-label-class="btn-danger"
                >
                    <i class="icon-white icon-lock"></i>
                    {% if user.password %}
                    Reset password
                    {% else %}
                    Set initial password
                    {% endif %}
                </button>
                {% if g.user.has_flag('trex.user_management_login_as') and g.user != user %}
                <button
                    class="btn btn-small trex-post-confirm"
                    data-href="{{ url_for('trex.auth.login_as', user_token=user.token) }}"
                    data-title="Confirm log in as"
                    data-body="This will log you in as {{ user.email }}. Are you sure you wish to proceed?"
                    data-confirm-label="Log in"
                    data-confirm-label-class="btn-danger"
                >
                    <i class="icon-arrow-right"></i>
                    Log in as
                </button>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
