// Some backward compat for BS2
@wellBackground: @well-bg;
@grayLight: #999;
@linkColor: @link-color;
@linkColorHover: @link-hover-color;
@baseFontSize: @font-size-base;
@btnPrimaryBackground: @btn-primary-bg;
.input-mini { width: 60px; }
.input-small { width: 90px; }

.buttonBackground(@startColor, @endColor, @textColor: #fff, @textShadow: 0 -1px 0 rgba(0,0,0,.25)) {
    .button-variant(@textColor; @startColor; darken(@startColor, 5%));
}

.trex-modal-form-modal {
    .modal-body {
        position: relative;

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(255, 255, 255, .5);
        }
        form .form-group:last-child {
            margin-bottom: 0;

            .help-block {
                margin-bottom: 0;
            }
        }
    }
    .modal-footer {
        margin-top: 0;

        .label {
            display: none;
            margin-right: 10px;
        }
    }
}


@import "form.less";
