// Fake enough stuff to play nice with BS3 stuff

@input-border-focus: rgba(82, 168, 236, 0.8);
@font-size-base: @baseFontSize;
@line-height-base: @baseLineHeight;
@input-border: @inputBorder;
@padding-base-horizontal: 10px;
@padding-base-vertical: 2px;

.trex-modal-form-modal {
    .modal-body {
        position: relative;

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(255, 255, 255, .5);
        }
    }
    .modal-footer {
        margin-top: 0;

        .label {
            display: none;
            margin-right: 10px;
        }
    }
}

.control-group.required label:after {
    content: ' *';
    color: #b94a48;
}

@import "form.less";

