// Some backward compat for BS2
@wellBackground: @well-bg;
@grayLight: #999;
@linkColor: @link-color;
@linkColorHover: @link-hover-color;
@baseFontSize: @font-size-base;
@btnPrimaryBackground: @btn-primary-bg;
.input-mini { width: 60px; }
.input-small { width: 90px; }

.buttonBackground(@startColor, @endColor, @textColor: #fff, @textShadow: 0 -1px 0 rgba(0,0,0,.25)) {
    .button-variant(@textColor; @startColor; darken(@startColor, 5%));
}

.trex-modal-form-modal {
    .modal-body {
        position: relative;

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(255, 255, 255, .5);
        }
        form .form-group:last-child {
            margin-bottom: 0;

            .help-block {
                margin-bottom: 0;
            }
        }
    }
    .modal-footer {
        margin-top: 0;

        .label {
            display: none;
            margin-right: 10px;
        }
    }
}

@import "form.less";

.chzn-container {
    font-size: inherit;
}

.chzn-container-single {
    vertical-align: middle;
    .chzn-single {
        height: @input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
        padding: @padding-base-vertical @padding-base-horizontal;
        line-height: @line-height-base;
        border: 1px solid @input-border;
        border-radius: @input-border-radius;
        font-size: @font-size-base;
        background-color: @input-bg;
        background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
        .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
        .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");
        div b { background-position: 0 4px; }
    }
    .chzn-single-with-drop {
        div b { background-position: -18px 4px; }
    }
    .chzn-drop {
        border: 1px solid @input-border;
        border-radius: 0 0 @input-border-radius @input-border-radius;
        border-top-width: 0;
    }
}

.trex-textarea-list-widget {
    .item {
        position: relative;
        padding-right: 53px;
        margin-bottom: 10px;
        button {
            position: absolute;
            top: 50%;
            right: 10px;
            .translate(0, -50%);

            &:hover + textarea {
                border-color: #e96666;
                outline: 0;
                -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(233, 102, 102, 0.6);
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(233, 102, 102, 0.6);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(233, 102, 102, 0.6);
            }
        }
    }
    .add-item {
        padding-right: 53px;
    }
}
