{% if not trex_bootstrap_version %}{% set trex_bootstrap_version = 2 %}{% endif %}
{% macro pager(pager) %}
{% if pager.first_page != pager.last_page %}
{% if trex_bootstrap_version == 3 %}<ul class="pagination">{% else %}<div class="pagination"><ul>{% endif %}
    {% if pager.prev() %}
        <li><a href="{{ pager.uri.remove(['page']).add({'page':pager.prev()}) }}">Prev</a></li>
    {% else %}
        <li class="disabled"><a>Prev</a></li>
    {% endif %}
    {% for page in pager.list %}
    <li{% if page == pager.page %} class="active"{% endif %}><a href="{{ pager.uri.remove(['page']).add({'page':page}) }}">{{ page }}</a></li>
    {% endfor %}
    {% if pager.next() %}
        <li><a href="{{ pager.uri.remove(['page']).add({'page':pager.next()}) }}">Next</a></li>
    {% else %}
        <li class="disabled"><a>Next</a></li>
    {% endif %}
{% if trex_bootstrap_version == 3 %}</ul>{% else %}</ul></div>{% endif %}
{% endif %}
{% endmacro %}

{% macro form_render_inline(form, button_label='Submit', id=None, button_class='btn-primary') %}
<form
    action=""
    method="POST"
    enctype="multipart/form-data"
    class="wtform form-inline"
    accept-charset="utf-8"
    {% if id %}id="{{ id }}"{% endif %}
    >
    <input type="hidden" name="_csrf_token" value="{{ g.identity.get_csrf() }}">
    {{ form.hidden_tag() }}
    {% for field in form %}
    {% if trex_bootstrap_version == 3 %}
    {{ form_render_field_inline(field) }}
    {% else %}
    {{ form_render_field_inline(field) }}
    {% endif %}
    {% endfor %}
    {% if button_label is not none %}
    <button type="submit" class="btn {{ button_class }}">{{ button_label }}</button>
    {% endif %}
</form>
{% endmacro %}

{% macro form_render(form, button_label='Submit', vertical=False, id=None, secondary_action_html=None, button_class='btn-primary', autofocus_field=None) %}
<form
    action=""
    method="POST"
    enctype="multipart/form-data"
    class="wtform {% if vertical %}form-vertical{% else %}form-horizontal{% endif %}"
    accept-charset="utf-8"
    {% if id %}id="{{ id }}"{% endif %}
    >
    <input type="hidden" name="_csrf_token" value="{{ g.identity.get_csrf() }}">
    {{ form.hidden_tag() }}
    {% for field in form %}
    {% if trex_bootstrap_version == 3 %}
        {% if autofocus_field == field.id %}{{ form_render_field_bs3(field, autofocus=true) }}{% else %}{{ form_render_field_bs3(field) }}{% endif %}
    {% else %}
    {{ form_render_field(field) }}
    {% endif %}
    {% endfor %}
    {% if button_label is not none %}
    {% if trex_bootstrap_version == 3 %}
    <div class="form-group form-actions">
        <div class="col-sm-offset-4 col-sm-8">
            <button type="submit" class="btn {{ button_class }}">{{ button_label }}</button>
            {% if secondary_action_html %}<span class="secondary">{{ secondary_action_html | safe }}</span>{% endif %}
        </div>
    </div>
    {% else %}
    <div class="form-actions">
        <button type="submit" class="btn {{ button_class }}">{{ button_label }}</button>
        {% if secondary_action_html %}<span class="secondary">{{ secondary_action_html | safe }}</span>{% endif %}
    </div>
    {% endif %}
    {% endif %}
</form>
{% endmacro %}

{% macro form_render_field(field) %}
{% if field.type not in ['HiddenField', 'CSRFTokenField', 'LabelField'] %}
<div class="control-group{% if field.errors %} error{% endif %}{% if field.flags.required %} required{% endif %}">
    {% if field.label.text %}
    <label class="control-label" for="{{ field.id }}">{{ field.label.text }}</label>
    {% endif %}
    <div class="controls">
        {{ field(**kwargs) | safe }}
        {% if field.errors %}
        <span class="help-inline">
        {% for error in field.errors %}{{ error }} {% endfor %}
        </span>
        {% endif %}
        {% if field.description %}
        <span class="help-block">{{ field.description }}</span>
        {% endif %}
    </div>
</div>
{% endif %}
{% if field.type == 'LabelField' %}
<div class="control-group">
    <div class="controls">
        <p>{{ field.label.text }}</p>
    </div>
</div>
{% endif %}
{% endmacro %}
{% macro form_render_field_bs3(field) %}
{% if field.type not in ['HiddenField', 'CSRFTokenField', 'LabelField'] %}
<div id="form-group-{{ field.id }}" class="form-group{% if field.errors %} has-error{% endif %}{% if field.flags.required %} required{% endif %}">
    {% if field.label.text %}
    <label for="{{ field.id }}" class="col-sm-4 control-label">{{ field.label.text }}</label>
    {% endif %}
    <div class="col-sm-8{% if not field.label.text %} col-sm-offset-4{% endif %}">
        {%- if field.type == 'FileField' %}
        {{ field(**kwargs) | safe }}
        {%- else -%}
        {{ field(class="form-control", **kwargs) | safe }}
        {%- endif -%}
        {% if field.errors %}
        <span class="help-block help-block-error">
        {% for error in field.errors %}{{ error }} {% endfor %}
        </span>
        {% endif %}
        {% if field.description %}
        <span class="help-block">{{ field.description }}</span>
        {% endif %}
    </div>
</div>
{% endif %}
{% if field.type == 'LabelField' %}
<div class="control-group">
    <div class="controls">
        <p>{{ field.label.text }}</p>
    </div>
</div>
{% endif %}
{% endmacro %}
{% macro form_render_field_inline(field) %}
{% if field.type not in ['HiddenField', 'CSRFTokenField', 'LabelField'] %}
<div id="form-group-{{ field.id }}" class="form-group{% if field.errors %} has-error{% endif %}{% if field.flags.required %} required{% endif %}">
    {{ field(class="form-control", **kwargs) | safe }}
    {% if field.errors %}
    <span class="help-block help-block-error">
    {% for error in field.errors %}{{ error }} {% endfor %}
    </span>
    {% endif %}
</div>
{% endif %}
{% endmacro %}

{% macro bootstrap_nav_item(endpoint, label, match=None, match_list=None) -%}
    <li
    {%- if match_list -%}
        {% for match in match_list %}{%- if request.endpoint and request.endpoint.startswith(match) %} class="active"{%- endif -%}{% endfor %}
    {%- elif match -%}
        {%- if request.endpoint and request.endpoint.startswith(match) %} class="active"{%- endif -%}
    {%- elif request.endpoint == endpoint %} class="active"{%- endif -%}
    ><a href="{{ url_for(endpoint, **kwargs) }}">{{ label }}</a></li>
{%- endmacro %}

{% macro nav_item(endpoint, label, match=None, match_list=None, endpoint_only=False) -%}
    <li
    {%- if match_list -%}
        {% for match in match_list %}{%- if request.endpoint and request.endpoint.startswith(match) %} class="active"{%- endif -%}{% endfor %}
    {%- elif match -%}
        {%- if request.endpoint and request.endpoint.startswith(match) %} class="active"{%- endif -%}
    {%- elif endpoint_only -%}
        {%- if request.endpoint == endpoint %} class="active"{%- endif -%}
    {%- elif urlencode(request.path) == url_for(endpoint, **kwargs) %} class="active"{%- endif -%}
    ><a href="{{ url_for(endpoint, **kwargs) }}">{{ label }}</a></li>
{%- endmacro %}
