{% import 'trex.jinja2' as trex with context %}
{% extends 'base.jinja2' %}
{% set page_title = 'Change password' %}
{% block content %}
<h2>Change password</h2>
{{ trex.form_render(form, 'Change password') }}
{% endblock %}
