{% import 'trex.jinja2' as trex with context %}
{% extends 'base.jinja2' %}
{% set page_title = 'Lost password' %}
{% block content %}
<h2>Lost Password</h2>
{{ trex.form_render(form, 'Request Password Reset') }}
{% endblock %}
