{% import 'trex.jinja2' as trex with context %}
{% extends 'base.jinja2' %}
{% block content %}
<h2>Lost Password</h2>
<p>
    We have sent a recovery code to your email address. When you receive the
    email please click the link, or alternatively enter the code provided in
    the box below.
</p>
{{ trex.form_render(form, 'Next') }}
{% endblock %}
