{% import 'trex.jinja2' as trex with context %}
{% extends 'base.jinja2' %}
{% set page_title = 'Recover password' %}
{% block content %}
<h2>Recover Password</h2>
<p>
    Enter a new password for your account.
</p>
{{ trex.form_render(form, 'Reset password') }}
{% endblock %}
